{% extends 'base.html.twig' %}

{% block title %}loCode - Hash{% endblock %}
{% block javascripts_head %}
    <script src="/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ace/src-min-noconflict/ext-beautify.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ace/src-min-noconflict/mode-plain_text.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var App = {
            localStorageKey: 'locode_hash_left_content',
            editor_left: null,
            editor_right: null,
            init () {
                document.addEventListener('alpine:init', () => {
                    Alpine.data('domTraversal', () => ({
                        encode(alghorithm) {
                            let left_content = ace.edit('editor_left').getValue();
                            localStorage.setItem(App.localStorageKey, left_content);
                            const body = {};
                            body.alghorithm = alghorithm;
                            body.content = left_content;
                            fetch('/api/hash/encode', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(body)
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    ace.edit('editor_right').setValue(data.formatted, -1);
                                } else {
                                    alert(data.message);
                                }
                            })
                            .catch(error => {
                                alert('Error: ' + error.message);
                            });
                        },
                        wp(alghorithm) {
                            let left_content = ace.edit('editor_left').getValue();
                            localStorage.setItem(App.localStorageKey, left_content);
                            fetch('/api/hash/wp_pass', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: left_content
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    ace.edit('editor_right').setValue(data.formatted, -1);
                                } else {
                                    alert(data.message);
                                }
                            })
                            .catch(error => {
                                alert('Error: ' + error.message);
                            });
                        }
                    }));
                });

                document.addEventListener('DOMContentLoaded', () => {
                    this.initAce();
                });
            },
            initAce() {
                this.editor_left = ace.edit("editor_left");
                this.editor_left.setTheme("ace/theme/monokai");
                this.editor_left.session.setMode("ace/mode/plain_text");
                this.editor_left.getSession().setUseWrapMode(true);

                const editor_left = document.getElementById("editor_left");
                new ResizeObserver(() => {
                    this.editor_left.resize();
                }).observe(editor_left);

                let value = localStorage.getItem(App.localStorageKey) || "";
                this.editor_left.setValue(value, -1);

                this.editor_right = ace.edit("editor_right");
                this.editor_right.setTheme("ace/theme/monokai");
                this.editor_right.session.setMode("ace/mode/plain_text");

                const editor_right = document.getElementById("editor_right");
                new ResizeObserver(() => {
                    this.editor_right.resize();
                }).observe(editor_right);
            }
        }
        App.init();
    </script>
{% endblock %} 
{% block stylesheets_head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
{% endblock %}
{% block offcanvas %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="appHelp" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Help</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h2>Usage</h2>
    <p>Enter the text in the left editor and choose hash alghorithm.</p>

    <h2>WP Password</h2>
    <p>Enter the password in the left editor and click on the "WP" button to get the formatted password in the right editor.</p>

    <h2>Hash Alghorithms</h2>
    <p>Choose the hash alghorithm from the dropdown list.</p>

  </div>
</div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1>{{ title }} <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#appHelp" role="button" aria-controls="appHelp" title="Help"><i class="bi bi-person-raised-hand"></i></a></h1>
    </div>
    <div class="row justify-content-start" x-data="domTraversal">
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <div class="ace-toolbar">
                <button @click="AceToolbar.saveContent('editor_left', App.localStorageKey)" class="btn btn-sm btn-outline-secondary" title="Save Content">
                    <i class="bi bi-floppy"></i>
                </button>
                <button @click="AceToolbar.copyToClipboard('editor_left')" class="btn btn-sm btn-outline-secondary" title="Copy to clipboard">
                    <i class="bi bi-copy"></i>
                </button>
                <button @click="AceToolbar.toggleFullScreen('editor_left')" class="btn btn-sm btn-outline-secondary" title="Toggle Fullscreen">
                    <i class="bi bi-arrows-fullscreen"></i>
                </button>
            </div>
            <div class="ace-editor" id="editor_left"></div>
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 d-flex flex-column justify-content-center">
            <button @click="encode('md2')" class="btn btn-dark mb-1">MD5 <i class="bi bi-arrow-right-square"></i></button>
            <button @click="encode('sha1')" class="btn btn-dark mb-1">SHA1 <i class="bi bi-arrow-right-square"></i></button>
            <button @click="wp()" class="btn btn-dark mb-1">WP <i class="bi bi-arrow-right-square"></i></button>
            
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hash <i class="bi bi-arrow-right-square"></i>
                </button>
                <div class="dropdown-menu">
                    <li><button class="dropdown-item" type="button" @click="encode('md2')">md2</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('md4')">md4</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('md5')">md5</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('sha1')">sha1</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('sha256')">sha256</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('sha384')">sha384</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('sha512')">sha512</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('ripemd128')">ripemd128</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('ripemd160')">ripemd160</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('ripemd256')">ripemd256</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('ripemd320')">ripemd320</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('whirlpool')">whirlpool</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('tiger128')">tiger128</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('tiger160')">tiger160</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('tiger192')">tiger192</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('tiger128')">tiger128</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('tiger160')">tiger160</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('tiger192')">tiger192</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('snefru')">snefru</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('gost')">gost</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('adler32')">adler32</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('crc32')">crc32</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('crc32b')">crc32b</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval128')">haval128</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval160')">haval160</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval192')">haval192</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval224')">haval224</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval256')">haval256</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval128')">haval128</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval160')">haval160</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval192')">haval192</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval224')">haval224</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval256')">haval256</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval128')">haval128</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval160')">haval160</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval192')">haval192</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval224')">haval224</button></li>
                    <li><button class="dropdown-item" type="button" @click="encode('haval25')">haval25</button></li>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <div class="ace-toolbar">
                <button @click="AceToolbar.toggleFullScreen('editor_right')" class="btn btn-sm btn-outline-secondary" title="Toggle Fullscreen">
                    <i class="bi bi-arrows-fullscreen"></i>
                </button>
                <button @click="AceToolbar.copyToClipboard('editor_right')" class="btn btn-sm btn-outline-secondary" title="Copy to clipboard">
                    <i class="bi bi-copy"></i>
                </button>
            </div>
            <div class="ace-editor" id="editor_right"></div>
        </div>
    </div>
</div>
{% endblock %}
